<h1 class="media-heading">InsteadMan <small>{{ site.t[page.lang].insteadmanSubtitle }}</small> <small>v.2.1.0</small></h1>
<p><img class="img-responsive center-block" src="{{ site.baseurl }}{{ '/assets/img/screenshot/insteadman-2-' }}{{ page.lang }}{{ '.png' }}" alt="InsteadMan"></p>

<hr class="featurette-divider">

<div class="row">
    <h2 id="download">{{ site.t[page.lang].installInsteadman }}</h2>
    <div class="col-lg-4">
        <img src="{{ '/assets/img/logo/windows.png' | prepend: site.baseurl }}" alt="Windows" width="140" height="140">
        <h2>Windows</h2>
        <p>{{ site.t[page.lang].windowsDownloadText }}</p>
        <p><a class="btn btn-default btn-download-windows"
              href="https://github.com/jhekasoft/insteadman/releases/download/v2.1.0/insteadman-2.1.0.exe"
              role="button">{{ site.t[page.lang].download }} &raquo;</a></p>
        <p>{{ site.t[page.lang].windowsDownloadText2 }}</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <img src="{{ '/assets/img/logo/macosx.png' | prepend: site.baseurl }}" alt="macOS" width="140" height="140">
        <h2>macOS</h2>
        <p>{{ site.t[page.lang].macosDownloadText }}</p>
        <p><a class="btn btn-default btn-download-macosx"
              href="https://github.com/jhekasoft/insteadman/releases/download/v2.1.0/InsteadMan-2.1.0.dmg"
              role="button">{{ site.t[page.lang].download }} &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <img src="{{ '/assets/img/logo/gnulinux.png' | prepend: site.baseurl }}" alt="GNU/Linux" width="140" height="140">
        <h2>GNU/Linux</h2>
        <p>{{ site.t[page.lang].linuxDownloadText }}</p>
        <p>
            <a class="btn btn-default btn-download-gnulinux"
               href="https://github.com/jhekasoft/insteadman/releases/download/v2.1.0/insteadman_2.1.0-x64.tar.gz"
               role="button">64-bit &raquo;</a>
            <a class="btn btn-default btn-download-gnulinux"
               href=https://github.com/jhekasoft/insteadman/releases/download/v2.1.0/insteadman_2.1.0-x86.tar.gz"
               role="button">32-bit &raquo;</a>
        </p>
    </div><!-- /.col-lg-4 -->
</div><!-- /.row -->

<hr class="featurette-divider">

<div class="row">
    <h2>{{ site.t[page.lang].result }}</h2>
    <p>{{ site.t[page.lang].resultText }}</p>
</div><!-- /.row -->
