<h1 class="media-heading">InsteadMan 2 <small>{{ site.t[page.lang].insteadmanSubtitle }}</small></h1>
<p><img class="img-responsive center-block" src="{{ site.baseurl }}{{ '/assets/img/screenshot/insteadman-2-' }}{{ page.lang }}{{ '.png' }}" alt="InsteadMan"></p>

<hr class="featurette-divider">

<div class="row">
    <h2 id="download">{{ site.t[page.lang].installInsteadman }}</h2>
    <div class="col-lg-4">
        <img src="{{ '/assets/img/logo/windows.png' | prepend: site.baseurl }}" alt="Windows" width="140" height="140">
        <h2>Windows</h2>
        <p>{{ site.t[page.lang].windowsDownloadText }}</p>
        <p><a class="btn btn-default btn-download-windows" href="https://yadi.sk/d/4JSI9kRRkPudB" role="button" target="_blank">{{ site.t[page.lang].download }} &raquo;</a></p>
        <p>{{ site.t[page.lang].windowsDownloadText2 }}</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <img src="{{ '/assets/img/logo/macosx.png' | prepend: site.baseurl }}" alt="Mac OS X" width="140" height="140">
        <h2>Mac OS X</h2>
        <p>{{ site.t[page.lang].macosDownloadText }}</p>
        <p><a class="btn btn-default btn-download-macosx" href="https://yadi.sk/d/P-FsHYDwkPubo" role="button" target="_blank">{{ site.t[page.lang].download }} &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <img src="{{ '/assets/img/logo/gnulinux.png' | prepend: site.baseurl }}" alt="GNU/Linux" width="140" height="140">
        <h2>GNU/Linux</h2>
        <p>{{ site.t[page.lang].linuxDownloadText }}</p>
        <p>
            <a class="btn btn-default btn-download-gnulinux" href="https://yadi.sk/d/jKRiIlCDkPud5" role="button" target="_blank">32-bit &raquo;</a>
            <a class="btn btn-default btn-download-gnulinux" href="https://yadi.sk/d/r17JoU4BkQHdo" role="button" target="_blank">64-bit &raquo;</a>
        </p>
    </div><!-- /.col-lg-4 -->
</div><!-- /.row -->

<hr class="featurette-divider">

<div class="row">
    <h2>{{ site.t[page.lang].result }}</h2>
    <p>{{ site.t[page.lang].resultText }}</p>
</div><!-- /.row -->
